button {
  background-color: #bdd4e7;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
}

.button {
  position: relative;
  bottom: 50%;
  left: 60%;
}


.login {
  margin-right: 10%;
}

a {
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
 }

mat-toolbar {
  background-color: black;
  position: relative;
  top: 25%;
}

span {
  margin-right: 5%;
}

.links {
  margin-left: 10%;
}
