  <mat-card>
    <mat-spinner *ngIf="isLoading" strokeWidth="3" [diameter]="45"></mat-spinner>
      <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
          <mat-form-field>
              <input matInput type="email" placeholder="E-Mail" name="email"
               ngModel #emailInput="ngModel" required email>
              <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input matInput placeholder="Password" type="password" name="password" ngModel #passwordInput="ngModel" required>
              <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
          </mat-form-field>
          <button mat-raised-button color="accent" type="submit">Login</button>
      </form>
  </mat-card>
