<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/navigation">Learn&Earn</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
     data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="dropdown float-end me-5 ms-auto">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton1"
         data-bs-toggle="dropdown" aria-expanded="false">
          Welcome {{ userEmail }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownAccountButton">
          <li><a class="dropdown-item" routerLink="/profile">Your Profile</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item" (click)="onLogout()" type="button">Logout</button></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="row container-fluid">
  <div class="col-md-4 mt-3">
    <div class="card">
      <h5 class="card-header">HTML Quiz</h5>
      <div class="card-body">
        <h6 class="card-title text-muted">40+ Questions on HTML</h6>
        <p class="card-text">The basic building block of a website.</p>
        <a routerLink="/question" class="btn btn-primary">Attempt</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-3">
    <div class="card">
      <h5 class="card-header">CSS Quiz</h5>
      <div class="card-body">
        <h1 class="card-title text-muted">Coming Soon!</h1>
        <a href="#" class="btn btn-primary disabled">Attempt</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-3">
    <div class="card">
      <h5 class="card-header">Javascript Quiz</h5>
      <div class="card-body">
        <h1 class="card-title text-muted">Coming Soon!</h1>
        <a href="#" class="btn btn-primary disabled">Attempt</a>
      </div>
    </div>
  </div>
</div>
<div class="row container-fluid">
  <div class="col-md-4 mt-3">
    <div class="card">
      <h5 class="card-header">Bootstrap Quiz</h5>
      <div class="card-body">
        <h1 class="card-title text-muted">Coming Soon!</h1>
        <a href="#" class="btn btn-primary disabled">Attempt</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-3">
    <div class="card">
      <h5 class="card-header">C# Quiz</h5>
      <div class="card-body">
        <h1 class="card-title text-muted">Coming Soon!</h1>
        <a href="#" class="btn btn-primary disabled">Attempt</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 mt-3">
    <div class="card">
      <h5 class="card-header">.NET Core Quiz</h5>
      <div class="card-body">
        <h1 class="card-title text-muted">Coming Soon!</h1>
        <a href="#" class="btn btn-primary disabled">Attempt</a>
      </div>
    </div>
  </div>
</div>
