<form class="add-question">
  <mat-form-field>
    <mat-label>Add Question Number:</mat-label>
    <input matInput type="number" #questionNumber>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Add Question:</mat-label>
    <input matInput type="text" #question>
  </mat-form-field><br>

  <mat-form-field>
    <mat-label>Add your options here.</mat-label>
    <textarea matInput rows="6" #answer></textarea>
  </mat-form-field>

  <div>
    <button mat-raised-button color="accent" (click)="onAddQuestion(questionNumber,question,answer)">Save</button>
  </div>
</form>


