<div class="container mt-5">
  <form>
    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">Email :</label>
      <div class="col-sm-7">
        <input type="email" class="form-control" id="email" value="{{ email }}" disabled>
      </div>
    </div>
    <div class="row mb-3">
      <label for="username" class="col-sm-2 col-form-label">User Name :</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" id="username">
      </div>
    </div>
    <div class="row mb-3">
      <label for="imgupload" class="form-label" style="width: 206px;">Display picture :</label>
      <input class="form-control" type="file" id="imgupload" style="width: auto;">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

